@import url("./nav.css");
@import url("./footer.css");
@import url("./variables.css");
@import url("./reset.css");


h1{
    text-align: center;
    color: var(--color-primary);
    font-size: var(--h1-font-size);
    font-family: var(--heading-font-family);
    margin-top: 4rem;
}

p{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    text-align: center;
    font-weight: var(--font-semi-bold);
    width: 1145px;
    margin: 2rem auto;
}